<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="debug" value="C:\Users\lexxa\Code\Repos\Slang.Net\src\Slang.Net\Builds\Debug\" />
    <add key="release" value="C:\Users\lexxa\Code\Repos\Slang.Net\src\Slang.Net\Builds\Release" />
    <add key="Slang.Sdk.Debug" value="C:\Users\lexxa\Code\Repos\Slang.Net\src\Slang.Sdk\Builds\Debug" />
  </packageSources>
</configuration>
